<div class="login-page">
    <div class="login-box box-5 box-i-7 box-m-10 box-p-12">
        <h1>Login</h1>
        <hr>
        <% if(errorMessage) { %>
            <p class="tbold fs20px lh2em tac error-message"><%= errorMessage%></p>
        <% } %>
        <% if(isAdded) { %>
            <script>
                Swal.fire(
                'Successful Registration',
                'Welcome to Sacred Planner ',
                'success'
            )
            </script>
            
        <% } %>
        <form action="/auth/login" method="POST">
            <input class="<%= validationErrors.find(e => e.param === 'mail') ?  'invalid' : '' %>" type="email" name="mail" id="email" required placeholder="example@email.com" value="<%= oldInput.mail %>">
            <input class="<%= validationErrors.find(e => e.param === 'password') ?  'invalid' : '' %>" type="password" name="password" id="password" required placeholder="password" value="<%= oldInput.password %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">Login</button>
        </form>
        <p class="form-options"><a href="/auth/reset">Recover <i class="fas fa-key"></i></a> | <a href="/auth/signup">Signup <i class="fas fa-user-plus"></i></a></p>
        
    </div>
</div>