<div class="login-page">
    <div class="login-box box-5 box-i-7 box-m-10 box-p-12">
        <h1>Signup</h1>
        <hr>
        <% if(errorMessage) { %>
            <p class="tbold fs20px lh2em tac error-message"><%= errorMessage%></p>
            <% } %>
        <form action="/auth/signup" method="POST">
            <input class="<%= validationErrors.find(e => e.param === 'uName') ?  'invalid' : '' %>" type="text" required placeholder="Insert your Name" name="uName" value="<%= oldInput.uName %>">
            <input class="<%= validationErrors.find(e => e.param === 'mail') ?  'invalid' : '' %>" type="email" required placeholder="Insert your Email" name="mail" value="<%= oldInput.mail %>">
            <input class="<%= validationErrors.find(e => e.param === 'password') ?  'invalid' : '' %>" type="password" required placeholder="Insert your Password" name="password" value="<%= oldInput.password %>">
            <input class="<%= validationErrors.find(e => e.param === 'rPassword') ?  'invalid' : '' %>" type="password" required placeholder="Repeat your Password" name="rPassword" value="<%= oldInput.rPassword %>">
            <button>Signup</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
    </div>
</div>