<a href="/" class="nav-link"><img src="/img/header/logo-white.png" alt="Page logo"></a>
<% if(isAuthenticated) { %>
<p class="fs20px fs-i-18px fs-m-16px fs-p-14px user-Name tac pl5px pr5px">Welcome <strong><%= name %></strong></p>
<% } %>
<nav>
    <ul>
        <i class="fas fa-arrow-right" id="close-btn"></i>
        <% if(!isAuthenticated) { %> 
        <li><a href="/auth/login" class="<%= PagetoLoad === 'auth/login' ? 'link-active' : '' %>">Login</a></li>
        <li><a href="/auth/signup" class="<%= PagetoLoad === 'auth/signup' ? 'link-active' : '' %>">Signup</a></li>
        <% } else { %>
            <li><a href="/" class="<%= PagetoLoad === 'home' ? 'link-active' : '' %>">Home</a></li>
            <li><a href="/agendas" class="<%= PagetoLoad === 'agendas' ? 'link-active' : '' %>">Agendas</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        <% } %>
    </ul>
</nav>
<i class="fas fa-bars" id="menu-btn"></i>