
<% if (agendas.length > 0) { %>
    <% if(sending) { %>
        <script>
            Swal.fire(
            'Your agenda was sent successfully',
            'Please review your email ',
            'success'
        )
        </script>
        
    <% } %>
    <% if(updateAgenda == 1){ %>
        <script>
            Swal.fire(
            'Your Agenda was Updated Successfully','',
            'success'
        )
        </script>
    
    <%} updateAgenda = 0;%>
    <div class="dashboard flex-hc flex-vc">
        <h1 class="tac w100p fs40px mb15px">Agendas</h1>
            <% for (let agenda of agendas) { %>
                <div class="date-box box-3 box-i-4 box-m-5 box-p-10">
                    <a href="#" class="date">
                        <p class="month">Nov</p>
                        <p class="day"><%= agenda.meetingDay %></p>
                    </a>
                    <div class="options">
                        <a href="/view-agenda/<%= agenda._id %>" title="View Agenda"><i class="fas fa-info"></i></a>
                        <a href="/edit-agenda/<%= agenda._id %>?edit=true" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                        <a href="/agendas/<%= agenda._id %>?sender=true" title="Send Agenda by Email"><i class="far fa-paper-plane"></i></a>
                        <a href="/delete-agenda/<%= agenda._id %>"><i class="fas fa-trash-alt" title="Delete"></i></a>
                    </div>
                </div>
            <% } %>
    </div>
<% } else { %>
    <p>No agendas yet? Create your first one!</p> <!-- TODO: Improve this message presentation-->
    <% } %>
    
<a href="/add-agenda" class="add-agenda-btn" title="Create Agenda"><i class="fas fa-plus"></i></a>