<div class="agenda-form-page">
    <div class="login-box box-5 box-i-7 box-m-10 box-p-12">
        <h1>Add Agenda</h1>
        <hr>
        <% if(errorMessage) { %>
        <p class="tbold fs20px lh2em tac error-message"><%= errorMessage%></p>
        <% } %>
        <form action="/add-agenda" method="POST">
            <p>Date:</p>
            <input class="<%= validationErrors.find(e => e.param === 'meetingDay') ?  'invalid' : '' %>" type="date"
                name="meetingDay" required value="<%= oldInput.MeetingDay %>">
            <p>Presiding Authority:</p>
            <input class="<%= validationErrors.find(e => e.param === 'presiding') ?  'invalid' : '' %>" type="text"
                required placeholder="Who is presiding the meeting?" name="presiding" value="<%= oldInput.presiding %>">
            <p>Leading Authority:</p>
            <input class="<%= validationErrors.find(e => e.param === 'leading') ?  'invalid' : '' %>" type="text"
                required placeholder="Who is leading the meeting?" name="leading" value="<%= oldInput.leading %>">
            <hr>
            <p>Authorities Acknowledgment:</p>
            <textarea name="authorities" placeholder="Authorities Acknowledgment"></textarea>
            <p>Piano Player:</p>
            <input name="pPlayer" type="text" placeholder="Who is playing the piano?">
            <p>Music Director:</p>
            <input name="mDirector" type="text" placeholder="Who is directing the music?">
            <p>First Hymn:</p>
            <input name="fHymn" type="text" placeholder="What is the first hymn?">
            <p>First Prayer:</p>
            <input name="fPrayer" type="text" placeholder="What is the first prayer?">
            <hr>
            <p>Ward Affairs:</p>
            <textarea name="wAffairs" placeholder="What are the Ward Affairs?"></textarea>
            <p>Stake Affairs</p>
            <hr>
            <h2>Sacrament Time</h2>
            <br>
            <p>Sacrament Hymn:</p>
            <input name="sHymn" type="text" placeholder="What is the sacrament hymn?">
            <hr>
            <h2>Select if it's a Normal or a Fast Meeting</h2>
            <div id="nfoptions">
                <span id="nMeetingBtn">Normal</span>
                <span id="fMeetingBtn">Fast</span>
            </div>
            <hr>
            <div id="isNormalMeeting">
                <p>First Talk Speaker:</p>
                <input name="fSpeaker" type="text" placeholder="Who is the First Talk Speaker?">
                <p>First Talk Topic:</p>
                <input name="fTopic" type="text" placeholder="Who is the First Talk Topic?">
                <br>
                <br>
                <p>Second Talk Speaker:</p>
                <input name="sSpeaker" type="text" placeholder="Who is the Second Talk Speaker?">
                <p>Second Talk Topic:</p>
                <input name="sTopic" type="text" placeholder="Who is the Second Talk Topic?">
                <br>
                <br>
                <p>Third Talk Speaker:</p>
                <input name="tSpeaker" type="text" placeholder="Who is the Third Talk Speaker?">
                <p>Third Talk Topic:</p>
                <input name="tTopic" type="text" placeholder="Who is the Third Talk Topic?">
                <hr>
            </div>
            <div id="finalAgendaOptions">
                <p>Last Hymn:</p>
                <input name="lHymn" type="text" placeholder="What is the last hymn?">
                <p>Last Prayer:</p>
                <input name="lPrayer" type="text" placeholder="What is the Last prayer?">
            </div>
            <button disabled id="btn-agenda">Create</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="meetingKind" id="meetingKind" value="">
        </form>
    </div>
</div>