<h1>View Agenda</h1>
<p>Date: <%=agenda.meetingDay%></p>
<p>Presiding Authority: <%=agenda.presiding%></p>
<p>Leading Authority: <%=agenda.leading%></p>
<hr>
<p>Authorities Acknowledgment:</p>
<p><%=agenda.authorities%></p>
<p>Piano Player: <%=agenda.pPlayer%></p>
<p>Music Director: <%=agenda.mDirector%></p>
<p>First Hymn: <%=agenda.fHymn%></p>
<p>First Prayer: <%=agenda.fPrayer%></p>
<hr>
<p>Ward Affairs:</p>
<p><%=agenda.wAffairs%></p>
<p>Stake Affairs</p>
<hr>
<h2>Sacrament Time</h2>
<br>
<p>Sacrament Hymn: <%=agenda.sHymn%></p>
<p>First Talk Speaker: <%=agenda.fSpeaker%></p>
<p>First Talk Topic: <%=agenda.fTopic%></p>
<p>Second Talk Speaker: <%=agenda.sSpeaker%></p>
<p>Second Talk Topic: <%=agenda.sTopic%></p>
<p>Third Talk Speaker: <%=agenda.tSpeaker%></p>
<p>Third Talk Topic: <%=agenda.tTopic%></p>
<hr>
<p>Last Hymn: <%=agenda.lHymn%></p>
<p>Last Prayer: <%=agenda.lPrayer%></p>